<!DOCTYPE html>
<html>
<head>
  <title>Tejas Ahuja | <%= title %></title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href = "/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href = "/stylesheets/navbar-custom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel = "icon" href = "/favicon/favicon.png">
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css"> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
</head>
<body>
<!--   <% include loading.html %> -->
  <header>
 <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Tejas Ahuja</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="/">Home</a></li>
                    <li><a href="/academics">Academics</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a class = "active" href="/contact">Contact</a></li>
                    <li><a href="/resume">Résumé</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    </header>
    <section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <div class="main">
         <h1 class="main-header"><%= heading %></h1>
          </div>

          <div class = "coverbg"></div>
        </section>  

          <script src = "/javascripts/contact.js"></script>
          <div class = "form">
              <form>
                  <input type = "text" id = "first_name" placeholder="First Name">
                  <br>
                  <input type = "text" id = "last_name" placeholder="Last Name">
                  <br>
                  <div class = "separator">
                    <input type = "email" id = "email" placeholder = "E-mail">
                    <h5 id = "validate_email"> Please check your email.</h5>
                  </div>
                  <input type = "subject" id = "subject" placeholder = "Subject">
                  <textarea name = "message" id = "text" cols = "30" rows = "10" placeholder="Message"></textarea>
                  <input id = "submit" type = "button" value = "Send Message" onclick="send_data()">
              </form>
          </div>
          <div id = "message_sent">
              <h1>Message Sent</h1>
            </div>
            <div class = "handles">
                <div class="social-btns">
                    <a class="btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="btn twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="btn google" href="#"><i class="fa fa-google"></i></a>
                    <a class="btn dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                    <a class="btn skype" href="#"><i class="fa fa-skype"></i></a>
                </div>
            </div>
          <% include footer.html %>
    </body>
</html>
