@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  overflow-x: hidden;
}
body.lock-position {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}
.coverbg {
  position:absolute;
  top:0;
  background:black;
  z-index:2;
  height: 75vh;
  width:100vw;
  opacity: 0.15;
}
.nav div.logo a {
    font-size: 1.5rem;
}
.nav div.main_list ul li a {
    font-size:1.25rem;
}
.nav div.main_list ul li {
	padding-right:30px;
}
.main {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(https://images.pexels.com/photos/594452/pexels-photo-594452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main .main-header {
  font: 100 5rem "Quicksand", sans-serif;
  color: #fff;
  max-width: 720px;
  text-align: center;
  margin: 0 5px;
  z-index: 4;
}
@media screen and (max-width:768px) {
  .nav div.show_list {
        margin-top:-3px !important;
    }
  }
  @media screen and (max-width: 768px) {
    .nav div.logo {
    padding-left: 10px !important;
  }
}
.grid {
  display: inline-grid;
  grid-template-columns: 20% 80%;
}
.text {
  height:100%;
  width:100%;
  margin-right:0;
  padding-right:0;
  text-align: center;
  vertical-align: middle;
}
.text > h1 {

}
.form {
  position:relative;
  padding:20px 0 20px 0;
  margin:10px 0 10px 0;
}
input{
  padding:10px;
  margin:15px;
}
#email {
  width:75%;
}
#first_name{
  width: 75%;
}
#last_name {
  width:75%;
}
#submit, #subject{
  width:75%;
}
textarea {
  width:75%;
  margin:15px;
  padding:10px;
  resize:none;
}
#validate_email {
  margin: 2px auto 40px auto; 
  display:none;
}
.handles {
  position: relative;
  width:100%;
  height:auto;
  margin:0 0 20px 0;
  padding:0;

}
.handles > h1{
  font-size: 50px;
}
.form > h1 {
  font-size: 50px;
}
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.linkedin:before {
  background-color: rgb(0,116,187);
}
.social-btns .btn.linkedin .fa {
  color: rgb(0,116,187)
}
.social-btns .btn.instagram .fa {
  color:rgb(248,46,82)
}
.social-btns .btn.instagram:before {
  background-color:rgb(248,46,82);
}
.social-btns .btn.github .fa {
  color:rgb(26,31,35)
}
.social-btns .btn.github:before {
  background-color:rgb(26,31,35);
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  transform: scale(1);
}
.social-btns {
  height: 90px;
  font-size: 0;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.8);
  opacity: 1;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}