
 @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  overflow-x: hidden;
}
body.lock-position {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}
.coverbg {
  position:absolute;
  top:0;
  background:black;
  z-index:2;
  opacity: 0.15;
  height: 75vh;
  width:100vw;
}
.nav div.logo a {
    font-size: 1.5rem;
}
.nav div.main_list ul li a {
    font-size:1.25rem;
}
.nav div.main_list ul li {
	padding-right:30px;
}
.main {
  height: 75vh;
  display: flex;
  justify-content: center;
  background: url(https://images.pexels.com/photos/594452/pexels-photo-594452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  flex-direction: column;
}
.main .main-header {
  font: 100 5rem "Quicksand", sans-serif;
  color: #fff;
  max-width: 720px;
  text-align: center;
  margin: 0 5px;
  z-index: 4;
}
@media screen and (max-width:768px) {
  .nav div.show_list {
        margin-top:-3px !important;
    }
  }
  @media screen and (max-width: 768px) {
    .nav div.logo {
    padding-left: 10px !important;
  }
}
