@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  overflow-x: hidden;
}
body.lock-position {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}
/* achievements new */
.container_accordion p:last-child, .container_accordion ul:last-child, .container_accordion li:last-child {
  margin-bottom: 0;
}

.container_accordion a {
  color: #00ACC1;
}

.container_accordion code {
  background: #ECEFF1;
}

.container_accordion {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px;
  font-family: "Quicksand", sans-serif !important
}

.container_accordion .details-group {
  border: 1px solid #CFD8DC;
  border-radius: 5px;
  background-color: white;
}

.container_accordion .details {
  overflow: hidden;
  border-bottom: 1px solid #CFD8DC;
  transition: height 300ms ease-in-out;
}
.container_accordion .details:last-child {
  border-bottom: 0;
}
.container_accordion .details__summary, .container_accordion .details__content {
  padding: 24px;
}
.container_accordion .details__summary {
  position: relative;
  list-style: none;
  padding-left: 48px;
  outline: 0;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 500;
  transition: color 300ms ease-in-out;
}
[open] > .details__summary {
  color: #00ACC1;
}
.container_accordion .details__summary::-webkit-details-marker {
  display: none;
}
.container_accordion .details__summary::before, .container_accordion .details__summary::after {
  content: "";
  position: absolute;
}
.container_accordion .details__summary::before {
  left: 20px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  width: 16px;
  background: #00ACC1;
}
.container_accordion .details__summary::after {
  left: 28px;
  top: 50%;
  height: 16px;
  margin-top: -8px;
  width: 2px;
  margin-left: -1px;
  background: #00ACC1;
  transition: all 300ms ease-in-out;
}
[open] .details__summary::after {
  opacity: 0;
  transform: translateY(25%);
}
.container_accordion .details__content {
  padding-top: 0;
  padding-left: 48px;
}

/* achievements new end*/
h1 {
  font-size: 3rem;
}
.thingsdo {
  position: relative;
  top: 0;

}
.thingsdo h2 {
  font-size: 3rem;
}
.thingsdo ul {
  margin-top: -20px;
  list-style: none;
  font-size: 25px;
  padding: 0 38px 0 38px;
}
.thingsdo ul li {
  margin-top: 7.5px;
  font-weight: 500;
}

/* Languages section */
#languages {
  margin-top: 100px;
  align-content: center;
  text-align: center;
}
#languages h1 {
  font-size: 3rem;
}
#languages div {
  display: inline-block;
}
.kuchhbhi {
  z-index: 2;
  opacity: 0.99;
}

.pushup {
  z-index: 3 !important;
  margin-top: -7px !important;
  opacity: 1;
}
.computer {
  display: block;
  /* width: 350px; */
  margin: 0 30px 0 30px;
  /* margin:0 12rem 0 12rem; */
  text-align: center;
}
.computer h3 {
  font-size: 2rem;
}

.computer dl {
  list-style: none;
  font-size: 25px;

}
.computer dl dt {
  margin-top: 20px;
  font-weight: 500;
}
.computer dl dd {
  height:7px ;
  border-radius: 4px;
  margin-left: -0.05rem;
  left: 0;
  padding: 0;
  margin-top: 10px;
}
@media screen and (min-width: 850px) {
  .human-languages {
    float: right;
  }
  .computer-languages {
  float: left;
  }
}
@media screen and (max-width: 400px) {
  .computer {
    text-align: center;
    margin: 0 auto;
    max-width: 350px !important;
  }
}
@media screen and (min-width: 720px) {
  .computer {
    width: 350px;
  }
}
/* Languages section end */
/* Education section begin */
#education { 
  width: 100%; 
  font-size: 3rem; 
  text-align: center; 
}
.center {
 display: inline-block;
}
.grid-education {
  display: block;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: auto;
}
.grid-education h5{
  font-size: 1.75rem;
  margin: 5px auto;
}
.grid-education h6{
  font-size: 1.25rem;
  margin: 5px auto;
}

.school {
  margin: 40px auto auto auto;
/*   border: 1px solid #0084FF;
  border-radius: 20px; */
}
@media screen and (min-width: 720px) {
  .grid-education, .grid-home{
    display: grid !important;
  }
  .school {
   margin: auto 50px;
  }
}
.school a{
  text-decoration: none;
  color: #0084FF;
}
.school span{
  text-decoration: none;
  color: purple;
}
/* Education section end */
@media screen and (max-width: 720px) {
  .gird-home > .none {
    text-align: center !important;
  }
  .image, .hey {
    display: inline-block !important;
    

  }
  .hey h2 {
    margin-top: 10px !important;
  }
  .image > img {
    text-align: center !important;
    width: 25rem !important;
    margin: auto !important;
  }
}
/*grid*/
.grid {
  border:black 5px;
  width:100%;
}
  .gird-home > .none {
    text-align: center !important;
  }
  .image, .hey {
    display: inline-block !important;
  }
  .hey {
    vertical-align: middle;
    margin: auto 0;
    padding-top:60px;

  }
.grid-home {
  display:block;
  grid-template-columns:3fr 3fr;
  grid-template-rows:auto;
}
.grid-samaan {
  height:auto;
  margin: auto;
  width: 100%;
}
.image {
  max-width: 75%;
}
.image > img {
  max-width:100%;
  max-height:100%;
  border:solid 1px #000;
  border-radius: 3%;
  margin: auto;
}
.hey > h2 {
  font-size: 4rem;
  margin: auto;
}
.hey > p {
  font-size:2rem;
  margin:7px 0 7px 0;
}
/* achievement section start */
/* #achievements {
  text-align: center;
  width: 100%;
}
#achievements ul {
  list-style: none;
  transform: translateX(-17.5px);
  max-width: 1080px;
}
#achievements ul li {
  font-weight: 500;
  font-size: 1.5rem;
  max-height: 2rem;
  padding: .75rem;
  transition: all .5s ease;
  overflow: hidden;
  border: 2px solid #000;
  border-bottom: none;
  border-radius: 10px;
}
.ach {
  font-weight: 300;
  font-size: 1rem;
}
#achievements ul li:last-child {
  border: 2px solid #000;
}
#achievements ul li:hover {

  max-height: 1000px;
} */
/* achievement section end */
/*background cover*/
.coverbg {
  position:absolute;
  top:0;
  background:black;
  z-index:2;
  opacity: 0.4;
  height: 100vh;
  width:100vw;
}
#home {
	height:auto;
	width:100%;
	position:relative;
	background-color: #;
  margin-top:30px;
	
}
#home h1:nth-child(2) {
  text-align: center;
  vertical-align: middle;
}
.nav div.logo a {
    font-size: 1.5rem;
}
.nav div.main_list ul li a {
    font-size:1.25rem;
}
.nav div.main_list ul li {
	padding-right:30px;
}
.main {
  height: 100vh;
  display: flex;
  background: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .main-header {
  font: 100 5rem "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  max-width: 350px;
  margin: 0 auto;
  z-index: 4;
}
.main .main-social-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 4;
  list-style-type: none;
  height: 4em;
  margin: 0;
  padding: 0;
}
.main .main-social-ul .main-social-icon {
  color: #fff;
  background: #151c28;
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin: 0 3px;
  padding: 14px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.main .main-social-ul .main-social-icon:hover {
  background: #d2d4d7;
  color: #151c28;
}
/* Background circles */
.circle-bkg {
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  opacity: 0.15;
  position: absolute;
  z-index:3;
  background: #ab5d79;
  width: 270px;
  height: 270px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: rotate 11s infinite linear;
}
.circle.two {
  animation-duration: 5s;
}
.circle.three {
  animation-duration: 7s;
}
.circle.four {
  animation-duration: 9s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
}
@media screen and (min-width: 650px) {
  .main .main-header {
    font-size: 6rem;
  }
  .main .main-social-ul .main-social-icon {
    padding: 16px;
  }
  .circle {
    width: 300px;
    height: 300px;
  }
}
/*scroll down button*/
#button a {
  padding-bottom: 60px;
  margin-bottom: 100px;
}
#button a span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  z-index: 4;
  margin-bottom: 100px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  transition: all 0.25s;
}
#button a span:hover {
  opacity: 0.75;
  transform:rotate(360deg);
}
#button a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#button a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: button-anim 3s infinite;
  animation: button-anim 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes button-anim {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes button-anim {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width:768px) {
  .nav div.show_list {
        margin-top:-3px !important;
    }
  }
  @media screen and (max-width: 768px) {
    .nav div.logo {
    padding-left: 10px !important;
  }
  #button a span{
    margin-bottom: 75px;
  }
}
@media screen and (max-height:600px) {
  #button {
    display: none;
  }
}
