@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  overflow-x: hidden;
  z-index: 0;
}
body.lock-position {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}
#main {
	top: 0;
	position: relative;
	height: 75vh !important;
	width: 100%;
	z-index: 2;
	margin-top: -48px;
	background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
  	background-repeat: no-repeat;
 	background-position: center;
}
#main  h1 {
	color: #fff;
	padding-top: calc((75vh - 1.5rem - 48px)/2);

}
.raise{
	position: relative;
	z-index: 6;
	width: 100%;
	height: 100%;
}
.cover {
 	position:absolute;
  	top:0;
    z-index: 2;
    background-color:#000;
    background-size: cover;
    opacity: 0.2;
    height:75vh;
    width:100vw;
}
h1 {
	font-size: 3rem;
}
.nav div.logo a {
    font-size: 1.5rem;
}
.nav div.main_list ul li a {
    font-size:1.25rem;
}
.nav div.main_list ul li {
	padding-right:30px;
}
@media screen and (max-width:768px) {
  .nav div.show_list {
        margin-top:-3px !important;
    }
  }
  @media screen and (max-width: 768px) {
    .nav div.logo {
    padding-left: 10px !important;
  }
}
